#footer img{
    max-width: 100%;
}

#footer{
    max-width: 100%;
    text-align: center;
    padding-bottom: 1em;
    /* font-size: 1.25rem; */
    line-height: 1.5;
    background: #212529;
    color: #fff;
}

#footer h2{
    padding-bottom: 0.25em;
    color: #fff;
}

.footer-container{
    max-width: 90%;
    margin: 0 auto;
    padding: 3em 0 0;
}

.footer-container-1{
    display: flex;
    justify-content: space-evenly;
}

.footer-content{
    max-width: 25%;
    align-self: center;
}

.footer-content ul li{
    margin-top: 0.5em;
}


.footer-container-2{
    text-align: center;
}

#footer ul{
    list-style: none;
}

#footer ul li {
    font-size: 1.25rem;
}

#footer a{
    color: #fff;
    text-decoration: none;
}

#footer a:hover{
    color: #1792d2;
}

.sci{
    display: flex;
    gap: 0.75em;
    justify-content: center;
    padding-top: 0.25em;
    font-size: 1.5rem;
}

.one-p{
    text-align: center;
    font-size: 1.25rem;
}

@media (max-width: 800px){
    .footer-container-1{
        flex-direction: column;
        font-size: 1.25rem;
        gap: 2em;
    }

    .footer-content{
        max-width: 100%;
    }
}